@media (min-width:768px) {
  .vertical-center {
    /*min-height: 100%;*/  /* Fallback for browsers do NOT support vh unit */
  /*  min-height: 100vh; *//* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }
}

#brewery {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    /*text-align: center;*/
    background: url(../background/twobarrels-compressor-background.png) no-repeat bottom center scroll;
    /*background-color: #002F65;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



#about {
  background-color: #fae596;
}
#location {
  background-color: #3fb0ac;
}

.container-fluid {
  padding-left: 0px;
  padding-right:0px;
  padding-bottom: 30px;
}

/*Beers Section*/
/*#beers {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  background: url(../background/twobarrels-compressor-background.png) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}*/

.beer-div {
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#green-dot {
  color: rgb(212,212,150);
  background-color: rgb(90,35,56);
}

#orange-dot {
  color: rgb(241,229,171);
  background-color: rgb(1,117,130);
}

#pink-dot {
  color: rgb(241,206,148);
  background-color: rgb(8,90,78);
}

#purple-dot {
  color: rgb(240,214,157);
  background-color: rgb(115,124,131);
}

#red-dot {
  color: rgb(247,242,176);
  background-color: rgb(1,38,57);
}

#yellow-dot {
  color: rgb(240,237,202);
  background-color: rgb(0,47,101);
}
