@media (min-width:768px) {
  .vertical-center {
    /*min-height: 100%;*/  /* Fallback for browsers do NOT support vh unit */
  /*  min-height: 100vh; *//* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }
}

#about {
  background-color: #fae596;
}
#location {
  background-color: #3fb0ac;
}

.container-fluid {
  padding-left: 0px;
  padding-right:0px;
  padding-bottom: 30px;
}
